@charset "utf-8";

/* 本文 */
p {
    font-size: 1rem;
    margin: 32px auto;
}

/* フォントサイズのみ */
@media(width>=431px) {

    p {
        font-size: 1.25rem;
    }
}

/* 下層ページに追加 */
.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(width>=757px) {

    /* ボーダーの色は下層ページよって可変（トップページを参照）、ボーダーの太さは8→10pxに。 */
    .container {
        border: 10px solid #eb97a8;
    }
}
