@charset "utf-8";

/* header */
.logo {
    width: 100px;
    margin-top: 32px;
    margin-left: 32px;
}

/* タイトル */
h2 {
    font-size: 1.25rem;
}

.under_line {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

.under_line::after {
    content: "";
    z-index: -1;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 5%;
    width: 105%;
    /*   display: inline-block; */
    border-bottom-color: #dbf500;
    border-bottom-style: dashed;
    border-bottom-width: 10px;
}

/* 本文 */
p {
    font-size: 1rem;
    width: 80px;
    margin: 32px auto;
}

/* フォントサイズのみ */
@media(width>=431px) {
    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
    }
}
