@charset "utf-8";

* {
    border: 1px solid red;
}


/* タグ */
.info_tag {
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info_tag li {
    font-size: 1.25rem;
    line-height: 40px;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 50px;
    padding: 10px;
}

/* 選択されたタブ（active）*/
.news_tag.active,
.gourmet_tag.active,
.play_tag.active,
.others_tag.active {
    background-color: #EB97A8;
    color: #fff;
}

@media (width>=757px) {
    .info_tag {
        max-width: 100%;
    }

    .info_tag li {
        border-radius: 30px 30px 0 0;
    }
}


/* 記事 */
.news_list {
    margin-top: 50px;
}


.news_card {
    /* width: 625px; */
    padding: 14px 0;
    border-bottom-color: #dbf500;
    border-bottom-style: dashed;
    border-bottom-width: 4px;
    /* border-right:10px ; */
    margin: 0 auto;
}

.news_card a {
    display: flex;
}

.news_card img {
    aspect-ratio: 1/1;
    width: 140px;
    object-fit: cover;
    object-position: center center;
    border-radius: 16px;
    margin-right: 22px;
}

.news_card .date {
    color: transparent;
    -webkit-text-stroke: 1px #dbf500;
    margin-bottom: 4px;
}

.news_card .title {
    margin-bottom: 4px;
}

.news_card .hashtag_list {
    display: flex;
    gap: 5px;
}

.hashtag {
    font-size: 1rem;
    background-color: #d9d9d9;
    padding: 5px 10px;
    border-radius: 15px;
}

/* ページネーション */
.pagination {
    margin: 50px;
    text-align: center;
}
