@charset "utf-8";

/* header */
.navlist_item:nth-child(6) {
    color: #DBF500;
}

/* 共通 */
p {
    font-size: 1rem;
}

/* コラム内容 */
.date {
    margin-top: 32px;
    text-align: right;
}

.column_img,
.column_text,
.hashtag_list {
    margin-top: 32px;
}

/* コメントフォーム */
.comment_form {
    margin-top: 100px;
}

.item {
    margin-bottom: 32px;
}

.comment {
    font-size: 1rem;
}

textarea {
    width: 100%;
    border-top: 1px solid #D9D9D9;
    border: 1px solid #D9D9D9;
    padding: 5px;
    resize: none;
}

input[type="submit"] {
    font-size: 1rem;
    border-radius: 5px;
    background: #D9D9D9;
    padding: 5px 10px;
}

.more_button {
    font-size: 1rem;
    text-decoration: underline 1px #D9D9D9;
}

/* アイコン */
.flex {
    display: flex;
}

.flex_item {
    margin-left: 20px;
}

.comment_content {
    padding: 5px;
    border-bottom: 1px solid #D9D9D9;
}

/* 関連情報 */
h5 {
    letter-spacing: 1rem;
}

/* カード(丸形) */
.card.onsen span {
    background-color: #ECC1C9;
}

.card.onsen h3 {
    background-color: #EB97A8;
}

.card.nearby span {
    background-color: #FDC75F;
}

.card.nearby h3 {
    background-color: #F5A200;
}

/* ページナビゲーション */
.nav-links {
    display: flex;
    justify-content: center;
}

.nav-links a {
    margin: 20px;
}

/* フォントサイズのみ */
@media(width>=431px) {

    p,
    .comment,
    input[type="submit"],
    .more_button {
        font-size: 1.25rem;
    }
}

.clock_bg {
    border-radius: 3px;
    background-color: white;
    height: 40px;
    width: 65px;
}

.wpulike,
.comment-meta,
.says {
    display: none;
}

.children {
    margin-left: 100px;
}

.commentlist,
p {
    width: 100%;
}

/* 下層ページに追加 */
.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(width>=757px) {

    /* ボーダーの色は下層ページよって可変（トップページを参照）、ボーダーの太さは8→10pxに。 */
    .container {
        border: 10px solid #DBF500;
    }
}
