@charset "utf-8";

a {
    display: block;
}

.navlist_item:nth-child(6) {
    color: #DBF500;
}


/* 記事 */
.news_list {
    margin-top: 50px;
}

/* ページネーション */
.pagination {
    margin: 50px;
    text-align: center;
}


/* フォントサイズのみ */
@media(width>=431px) {

    .news_card {
        font-size: 1.5rem;
    }
}

.wp-pagenavi {
    width: 300px;
    margin: auto;
    display: flex;
    /* grid-template-columns: repeat(7, 1fr);*/
    justify-content: center;
}

.wp-pagenavi a {
    border: 1px;
}

span.current {
    border: 1px;
}

/* 下層ページに追加 */
.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(width>=757px) {

    /* 背景を濃くする */
    .bubble_background {
        background-color: transparent;
    }

    /* ボーダーの色は下層ページよって可変（トップページを参照）、ボーダーの太さは8→10pxに。 */
    .container {
        border: 10px solid #DBF500;
    }
}