@charset "utf-8";

a {
    display: block;
}

.navlist_item:nth-child(6) {
    color: #DBF500;
}


/* 記事 */
.news_list {
    margin-top: 50px;
}

/* ページネーション */
.pagination {
    margin: 50px;
    text-align: center;
}


/* フォントサイズのみ */
@media(width>=431px) {

    .news_card {
        font-size: 1.5rem;
    }
}

.wp-pagenavi {
    width: 300px;
    margin: auto;
    display: flex;
    /* grid-template-columns: repeat(7, 1fr);*/
    justify-content: center;
}

.wp-pagenavi a {
    border: 1px;
}

span.current {
    border: 1px;
}

span {
    display: inline-block;
}

.breadcrumb_inner {
    display: flex
}
