@charset "utf8";

html {
    background-color: #328ef0;
    z-index: -100;
    font-family: "Zen Maru Gothic", serif;
}


/* =================================
共通設定
================================= */

/* フォント(Googleフォント) */
/* メイン */

/* コラム日付 */
.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
}




img {
    max-width: 100%;
}

a {
    display: block;
}

.shadow {
    box-shadow: 4px 4px 6px 0 #343a3e33;
}

/* レスポンシブ */

.tb_only {
    display: none;
}

.pc_only {
    display: none;
}

/* tablet */
@media(width>=757px) {
    .sp_only {
        display: none;
    }

    .tb_only {
        display: block;
    }

    .pc_only {
        display: none;
    }

}

/* ---------- */
/* pc */
@media(width>=1201px) {
    .sp_only {
        display: none;
    }

    .tb_only {
        display: none;
    }

    .pc_only {
        display: block;
    }
}

/* フォントサイズのみ */
@media(width>=431px) {
    /* =================================
ここは各自のCSSファイルで設定（サンプル）
================================= */
}


/* 本サイトの共通スタイルシート */
.bubble_background {
    position: relative;
<<<<<<< Updated upstream
    /* background_color: #328ef0; */
    /* height: 100%; */
=======
>>>>>>> Stashed changes
    width: 790px;
    overflow: hidden;
    margin: 0 auto;
}

/* 泡の見た目 */
.bubble {
    display: block;
    position: fixed;
    z-index: -20;
    bottom: -10px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.937);
    animation: bubble 8s linear infinite;

}



@keyframes bubble {
    0% {
        transform: translateY(0);

        opacity: 1;
    }

    30% {
        transform: translateY(-30vh) translateX(-50px);
        /* -50～50pxの間でランダムな値を代入 */
    }

    /* 60% のキーフレーム */
    60% {
        transform: translateY(-60vh) translateX(50px);

    }

    90% {
        transform: translateY(-100vh) translateX(10px);

    }

    /* 100% のキーフレーム */
    100% {
        transform: translateY(-110vh) translateX(10px);
        /* -100～100pxの間でランダムな値を代入 */
    }
}



/* 泡（横）の見た目 */
.bubble_edge {
    display: block;
    position: fixed;
    z-index: -20;
    /* position: absolute; */
    bottom: -50px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    /* box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.2); */
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.937);
    animation: bubble_edge 8s linear infinite;

}



@keyframes bubble_edge {
    0% {
        transform: translateY(-60vh) translateX(-100vw);

        opacity: 1;
    }

    30% {
        transform: translateY(-60vh) translateX(-60vw);
        opacity: 0.2;
    }

    /* 60% のキーフレーム */
    50% {

        transform: translateY(-60vh) translateX(-30vw);
        opacity: 0.2;
    }


    /* 100% のキーフレーム */
    100% {
        transform: translateY(-60vh) translateX(0vw);
        /* -100～100pxの間でランダムな値を代入 */
        opacity: 0;
    }
}


/* ----------------アヒル ---------------------------*/

.duck {

    display: block;
    position: fixed;
    z-index: -20;
    bottom: -50px;
    animation: duck 8s linear infinite;
}

@keyframes duck {
    0% {
        transform: translateY(0);

        opacity: 1;
    }

    10% {
        transform: translateY(-10vh) rotate(20deg);



    }

    30% {
        transform: translateY(-30vh) translateX(20px) rotate(-20deg);


    }

    40% {
        transform: translateY(-40vh) translateX(20px) rotate(-360deg);


    }

    50% {
        transform: translateY(-50vh) rotate(20deg);


    }

    70% {
        transform: translateY(-70vh) translateX(-20px) rotate(360deg);


    }

    90% {
        transform: translateY(-98vh) translateX(20px) rotate(-20deg);


    }

    100% {
        transform: translateY(-110vh);
        opacity: 0.3;
    }
}

/* バックグラウンドの設定 */
.container {
    z-index: -10;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 5%;
    margin: auto;
}

@media (width>=757px) {
    .container {
        z-index: -10;
        background-color: white;
        width: 90%;
    }
}

/* ---------- */
/* pc */
@media (width>=1201px) {
    .container {
        z-index: -10;
        width: 792px;
        margin-left: 18.75%;
        /* width: 62.5%; */
        /* padding: 18.75%; */
        /* position: absolute; */
        /* left: 18.75%; */
    }
}


/* header */
.header_wrap {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.header_left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.top_button {
    width: 100px;
}

.header_right {
    position: relative;
}

.hamburger {
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}


/*========== header ==========*/
.header_wrap {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;

    /* 検証ツールが見にくいときこれをオンにしてください */
    display: none;
}

.header_left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 100px;
    cursor: pointer;
}

/* topへ戻るボタン */
.top_button {
    width: 50px;
}

.circle,
.line .circle {
    cursor: pointer;
    /* サイズを必要に応じて調整 */
    width: 50px;
    /* サイズを必要に応じて調整 */
    height: 50px;
    border: 3px solid #DBF500;
    border-radius: 50%;
    display: flex;
    position: relative;
}

.line {
    position: absolute;
    top: 45%;
    width: 16px;
    height: 3px;
    background-color: #DBF500;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.circle .line:nth-child(1) {
    left: 20%;
    transform: rotate(-45deg);
}

.circle .line:nth-child(2) {
    transform: rotate(45deg);
    right: 20%;
}

.header_right {
    position: relative;
}

.hamburger {
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

/* ==================== */

/* ========== footer ========== */
.footer_wrap {
    width: 100vw;
    padding: 0 8px 8px 8px;
}

.footer_container {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border: 4px dashed #fff;
    border-radius: 12px;
    padding: 72px 0;
}
.footer_list{
    margin: 0 auto;
}
.footer_item{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 40px;
}
.footer_item span{
    margin-right: 8px;
}
.footer_item:nth-child(3){
    display: flex;
}
.footer_wrap p{
    font-size: 0.8rem;
    text-align: center;
}

/* 各ページタイトル */
.under_line {
    font-size: 2rem;
    width: fit-content;
    position: relative;
}

.under_line::after {
    content: "";
    z-index: -1;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 5%;
    width: 105%;
    /*   display: inline-block; */
    border-bottom-color: #dbf500;
    border-bottom-style: dashed;
    border-bottom-width: 10px;
}




/* 店舗ごとのカード型の設定 */
.news_card {
    max-width: 625px;
    font-size: 1.5rem;
    padding: 14px 0;
    border-bottom-color: #dbf500;
    border-bottom-style: dashed;
    border-bottom-width: 4px;
    /* border-right:10px ; */
}

.news_card a {
    display: flex;
}

.news_card img {
    aspect-ratio: 1/1;
    max-width: 140px;
    object-fit: cover;
    object-position: center center;
    border-radius: 16px;
    margin-right: 22px;
}

.news_card .date {
    color: transparent;
    -webkit-text-stroke: 1px #dbf500;
    margin-bottom: 4px;
}

.news_card .title {
    margin-bottom: 4px;
}
