@charset "UTF-8";

html {
    /* background-color: rgb(69, 69, 144); */
}

/* -----------------------
base
-------------------------- */
/* タイトル */
.under_line {
    font-size: 1.25rem;
    /* font */
    font-size: 1.25rem;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 32px;
}

/* タグ */
.hashtag_list {
    margin-bottom: 16px;
}

/* Bold */
h3 {
    font-weight: 900;
}

h4 {
    font-weight: 900;
}

/* Summary */
.course_day_summary {
    position: relative;
    margin-top: 44px;
    margin-bottom: 31px;
}

.course_day_summary::before,
.course_day_summary::after {
    content: '';
    background-color: black;
    width: 50px;
    height: 2px;
    position: absolute;
}

.course_day_summary::before {
    top: 12px;
    right: 135px;
}

.course_day_summary::after {
    top: 12px;
    left: 135px;
}

/* DAY1 */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}

.course_day {
    font-size: 1.125rem;
    position: relative;
    margin-top: 65px;
    margin-bottom: 16px;
}

.course_day::before,
.course_day::after {
    content: '';
    background-color: black;
    width: 50px;
    height: 2px;
    position: absolute;
}

.course_day::before {
    top: 12px;
    right: 110px;
}

.course_day::after {
    top: 12px;
    left: 110px;
}

/* photo/photoの白四角の設定 */
.photo {
    background-image: url(../images/tooling.jpg);
    background-size: cover;
    position: relative;
    width: 256px;
    height: 231px;
    margin: auto;
    z-index: 1;
}

.photo::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 115px;
    height: 64px;
    border-radius: 20px;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.position {
    position: relative;
}

.clock {
    font-weight: 900;
    position: absolute;
    top: 10%;
    right: 16%;
    z-index: 333;
}

/* -----------------------
DAY1/DAY2
-------------------------- */






.time {
    color: #fff;
    background-color: #6BDE4E;
    width: 85px;
    height: 69px;
    border-radius: 5px;
    padding: 22px 24px;
}

div p,
div h4 {
    margin-left: 15px;
}

.flex {
    margin-top: 10px;
    margin-bottom: 10px;
}

.square_green {
    /* display: inline; */
    background-color: #6BDE4E;
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-right: 3px;
    border-radius: 3px;
}

.flex_car {
    display: flex;
    align-items: center;
    margin: 0;
}

.car_tx {
    margin-left: 0;
}

/* カード */
.card.orange span {
    background-color: #F5A200;
}

.card.orange h3 {
    background-color: #F5A200;
}

.card.pink span {
    background-color: #EB97A8;
}

.card.pink h3 {
    background-color: #EB97A8;
}

/* 車で10分アイコン */
.car_green {
    background-image: url(../images/fa6-solid_car-side.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    position: relative;
}

.car_green::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6BDE4E;
    z-index: -1;
    bottom: 5px;
    left: -4px;
}

/* 黄緑の四角 */
.yellowgreen_square {
    width: 90%;
    height: auto;
    background-color: #A7E099;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
}

.yellowgreen_square h4 {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-left: 0;
    padding-top: 35px;
}

.yellowgreen_square::before,
.yellowgreen_square::after {
    content: '';
    background-color: white;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 45px;
}

.yellowgreen_square::before {
    right: 10px;
}

.yellowgreen_square::after {
    left: 10px;
}

.yellowgreen_square p {
    margin-left: 0;
    text-align: center;
    padding: 0 28px;
    padding-bottom: 34px;
}

/* -----------------------
レスポンシブ
-------------------------- */
