@charset "UTF-8";

/* タイトル */
.under_line {
    font-size: 1.25rem;
    /* font */
    font-size: 1.25rem;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 32px;
}

/* Summaryの形 */
.course_day_summary {
    position: relative;
}

.course_day_summary::before,
.course_day_summary::after {
    content: '';
    background-color: black;
    width: 50px;
    height: 2px;
    position: absolute;
}

.course_day_summary::before {
    top: 12px;
    right: 135px;
}

.course_day_summary::after {
    top: 12px;
    left: 135px;
}

/* DAY1の形 */
.flex {
    display: flex;
    justify-content: center;
    /* gap: 20px; */
}

.course_day {
    font-size: 1.125rem;
    position: relative;
    margin: 16px 0;
}

.course_day::before,
.course_day::after {
    content: '';
    background-color: black;
    width: 50px;
    height: 2px;
    position: absolute;
}

.course_day::before {
    top: 12px;
    right: 110px;
}

.course_day::after {
    top: 12px;
    left: 110px;
}

/* 小見出しナンバー */
.course_num {
    font-size: 1.5rem;
    color: white;
    margin-top: 19px;
    margin-right: 30px;
    margin-bottom: 16px;
    position: relative;
}

.course_num::before {
    content: '';
    background-color: #F5A200;
    height: 35px;
    width: 35px;
    position: absolute;
    z-index: -1;
    right: -12px;
}

/* 小見出しライン */
.course_ttl {
    position: relative;
    margin-top: 21px;
}

.course_ttl::before {
    content: '';
    background-color: #F5A200;
    height: 2px;
    width: 200px;
    position: absolute;
    bottom: 8px;
    left: -12px;
}

/* 車で５分 */
.course_car {
    background-image: url(../images/fa6-solid_car-side.png);
    background-color: black;
    width: 100px;
    height: 100px;
}
