@charset "utf-8";


.navlist_item:nth-child(4) {
    color: #DBF500;
}

li>a {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}


.modelcourse_list {
    margin-top: 50px;
}

.card span {
    /* ここはそれぞれのカラー指定 */
    background-color: #A7E099;
}

.card h3 {
    /* ここはそれぞれのカラー指定 */
    background-color: #6BDE4E;
}

.pagination {
    margin: 50px;
    text-align: center;
}

/* フォントサイズのみ */
@media(width>=431px) {

    .info_tag li {
        font-size: 1.5rem;
    }

    .news_card {
        font-size: 1.5rem;
    }
}


@media (width>=757px) {
    .info_tag {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .info_tag li {
        border-radius: 30px 30px 0 0;
        height: 80px;
        line-height: 80px;
    }

    li>a {
        border-radius: 30px 30px 0 0;
    }

    .info_tag li:nth-child(2) {
        letter-spacing: -0.1rem;
    }
}

@media (width>=1201px) {
    .modelcourse_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 0px;
    }
}
