@charset "UTF-8";


/* -----------------------
base
-------------------------- */

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

/* タグ */
.hashtag_list {
    margin: 20px 0;
    justify-content: flex-start;
}

/* Bold */
h3 {
    font-weight: 900;
}

h4 {
    font-weight: 900;
}

/* Summary */
.course_day_summary {
    font-size: 1.125rem;
    position: relative;
    margin-top: 44px;
    margin-bottom: 31px;
}

.course_day_summary::before,
.course_day_summary::after {
    content: '';
    background-color: black;
    width: 100%;
    height: 2px;
    position: absolute;
}

.course_day_summary::before {
    top: 12px;
    right: 110%;
}

.course_day_summary::after {
    top: 12px;
    left: 110%;
}

/* DAY1 */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    /* gap: 20px; */
}

.course_day {
    font-size: 1.125rem;
    position: relative;
    margin-top: 65px;
    margin-bottom: 32px;
}

.course_day::before,
.course_day::after {
    content: '';
    background-color: black;
    width: 200%;
    height: 2px;
    position: absolute;
}

.course_day::before {
    top: 12px;
    right: 110%;
}

.course_day::after {
    top: 12px;
    left: 110%;
}

/* photo/photoの白四角の設定 */
.photo {
    background-image: url(../images/tooling.jpg);
    background-size: cover;
    position: relative;
    width: 256px;
    height: 231px;
    margin: auto;
    z-index: 1;
}

.photo::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 115px;
    height: 64px;
    border-radius: 20px;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.position {
    position: relative;
}

.clock {
    font-weight: 900;
    position: absolute;
    top: 10%;
    right: 16%;
    z-index: 333;
}

.block>* {
    padding-bottom: 10px;
}

.flex_left {
    display: flex;
    justify-content: flex-start;
}

.flex_left div {
    padding-top: 5px;
}

/* -----------------------
DAY1/DAY2
-------------------------- */






.time {
    color: #fff;
    background-color: #6BDE4E;
    width: 85px;
    height: 69px;
    border-radius: 5px;
    text-align: center;
    line-height: 3;
}

div p,
div h4 {
    margin-left: 15px;
}

.flex {
    margin-top: 10px;
    margin-bottom: 10px;
}

.square_green {
    /* display: inline; */
    background-color: #6BDE4E;
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-right: 3px;
    border-radius: 3px;
}

.flex_car {
    display: flex;
    align-items: center;
    margin: 0;
}

.car_tx {
    margin-left: 0;
}

/* カード */
.card.orange span {
    background-color: #F5A200;
}

.card.orange h3 {
    background-color: #F5A200;
}

.card.pink span {
    background-color: #EB97A8;
}

.card.pink h3 {
    background-color: #EB97A8;
}

/* 車で10分アイコン */
.car_green {
    background-image: url(../images/car.svg);
    background-size: cover;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0;
    z-index: 1;
}

.flex.greencar {
    margin: 10%;
}

/* 黄緑の四角 */
.yellowgreen_square {
    width: 90%;
    height: auto;
    background-color: #A7E099;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
}

.yellowgreen_square h4 {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-left: 0;
    padding-top: 35px;
}

.yellowgreen_square::before,
.yellowgreen_square::after {
    content: '';
    background-color: white;
    width: 10%;
    height: 3px;
    position: absolute;
    top: 45px;
}

.yellowgreen_square::before {
    right: 10px;
}

.yellowgreen_square::after {
    left: 10px;
}

.yellowgreen_square p {
    margin-left: 0;
    text-align: center;
    padding: 0 28px;
    padding-bottom: 34px;
}

/* -----------------------
レスポンシブ
-------------------------- */
/* レスポンシブ */

.tb_only {
    display: none;
}

.pc_only {
    display: none;
}

.sp_tb_only {
    display: block;
}

/* -----------------------
レスポンシブ tablet
-------------------------- */
@media (width>=757px) {
    .sp_only {
        display: none;
    }

    .tb_only {
        display: block;
    }

    .clock {
        display: none;
    }

    .photo::before {
        display: none;
    }

    /* タイムスケジュール */
    .flow12 {
        margin: 0;
        padding: 0;
    }

    .flow12>li {
        list-style-type: none;
        position: relative;
        padding-bottom: 50px;
        display: flex;
        align-items: flex-start;
        width: 130px;
    }

    /* それぞれの線の長さ */
    .flow12>li:nth-child(1) {
        padding-bottom: 500%;
    }

    .flow12>li:nth-child(2) {
        padding-bottom: 535%;
    }

    .flow12>li:nth-child(3) {
        padding-bottom: 460%;
    }

    .flow12>li:nth-of-type(even)::after {
        content: "";
        position: absolute;
        left: 40%;
        top: 0;
        width: 0;
        height: 100%;
        border-left: 5px dashed #d4d4d4;
    }

    .flow12>li:nth-of-type(odd)::before {
        content: "";
        position: absolute;
        left: 50px;
        top: -40px;
        width: 20%;
        height: 40px;
    }

    .flow12>li:nth-of-type(odd)::after {
        content: "";
        position: absolute;
        left: 40%;
        top: 50px;
        width: 20%;
        height: calc(100% - 50px);
        border-left: 5px dashed #d4d4d4;
    }

    .flow12>li:first-of-type::before,
    .flow12>li:last-of-type::after {
        content: unset;
    }

    .flow12>li .icon12 {
        display: inline-block;
        margin: 0;
        width: 200px;
        height: auto;
        border-radius: 20px;
        margin-right: 20px;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        font-size: 1rem;
        background: #fff;
        border: 10px solid #D9D9D9;
        position: relative;
        z-index: 1;
    }

    .layer {
        display: flex;
        justify-content: center
    }

    .model_course1 {
        width: 450px;
    }

    .photo {
        width: 100%;
    }

    .yellowgreen_square::before,
    .yellowgreen_square::after {
        width: 20%;
    }

    /* フォントサイズ */
    .course_day,
    .course_day_summary,
    h4 {
        font-size: 1.5rem;
    }

    .container p {
        font-size: 1.25rem;
    }
}

/* -----------------------
レスポンシブ pc
-------------------------- */
@media (width>=1201px) {
    .sp_only {
        display: none;
    }

    .tb_only {
        display: none;
    }

    .pc_only {
        display: block;
    }

    .sp_tb_only {
        display: none;
    }

    /* フォントサイズ */
    .course_day_summary {
        font-size: 1.5rem;
    }
}

/* -----------------------
レスポンシブ フォントサイズのみ
-------------------------- */
/* フォントサイズのみ */
@media (width>=431px) {
    /* =================================
ここは各自のCSSファイルで設定（サンプル）
================================= */
}

.sp_nav .navlist.isactive {
    right: 0;
}

@media (width >=1201px) {
    .navlist.isactive {
        opacity: 1;
        visibility: visible;
        transform: translateX(0) translateY(50%);
        transition: opacity 0.7s ease, transform 0.7s ease, visibility 0s 0s;
    }
}
