@charset "utf8";

.canter {
    border: 2px solid yellow;
    background-color: #ffffff11;
    position: relative;
    top: 100px;
    /* height: auto; */
    text-align: center;
}

/* タイトル */


h4 {
    border: 2px solid #fff;
    margin: 0px auto;
    font-size: 1.25rem;
    width: fit-content;
    position: relative;

    /* left: 50%; */
}

h4::after {
    content: "";
    z-index: -1;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 15%;
    width: 105%;
    /*   display: inline-block; */
    border-bottom-color: #dbf500;
    border-bottom-style: dashed;
    border-bottom-width: 10px;
}

.content_form {
    text-align: left;
}


/* テキスト */
p {
    font-size: 1.25rem;
    /* 幅８０％ */
}

small {
    color: #ECC1C9;
}

/* 文章 */
p {
    font-size: 1.125rem;


}

small {
    color: #ECC1C9;
}

/* 入力 */
.form_item input {
    background-color: rgb(228, 228, 228);
}

.form_item textarea {
    background-color: rgb(228, 228, 228);
}

/* 注意書き */
.consent_text {
    margin: 30px;
}

/* ボタン */
.button {
    /* border: 2px solid #000; */
    text-align: center;
}

.button input {
    /* border: 2px solid #fff; */
    font-size: 1.125rem;
    background-color: #DBF500;
    border-radius: 25px;
    text-align: center;
    width: 200px;
    height: 70px;
}

/* レスポンシブ */
.sp-none {
    display: block;
}

.tb-none {
    display: none;
}

.pc-none {
    display: none;
}

/* tablet */
@media(width>=757px) {
    .sp-none {
        display: none;
    }

    .tb-none {
        display: block;
    }

    .pc-none {
        display: none;
    }

}

/* ---------- */
/* pc */
@media(width>=1201px) {
    .sp-none {
        display: none;
    }

    .tb-none {
        display: none;
    }

    .pc-none {
        display: block;
    }

    h4 {
        font-size: 1.25rem;
        width: fit-content;
        position: relative;
    }
}


/* フォントサイズのみ */
@media(width>=431px) {

    /* =================================
ここは各自のCSSファイルで設定（サンプル）
================================= */
    h4 {
        font-size: 1.25rem;
        width: fit-content;
        position: relative;
    }

    .button input {
        /* border: 2px solid #fff; */
        font-size: 1.125rem;
        background-color: #DBF500;
        border-radius: 25px;
        text-align: center;
        width: 200px;
        height: 70px;
    }
}


.form_item textarea {
    background-color: rgb(222, 222, 222);
}

/* ~1201px 1200px~757px 756px~ */
/*640px以下の場合のレイアウト調整用*/
@media screen and (max-width: 640px) {}

@media screen and (max-width: 400px) {}
