@charset "utf8";

/* タイトル */
.inner {
    text-align: center;
    margin: 20px;
    font-family: "Noto Sans JP", sans-serif;
}

h4 {
    font-size: 1.125rem;
    font-family: "Zen Maru Gothic", serif;
}

/* メイン */
section p {
    margin: 30px;
    text-align: left;
    /* font-family: "Noto Sans JP", sans-serif; */
}


.content_form {
    /* border: 2px solid red; */
    /* display: inline; */
    margin: 23px 10vw;

}

.form_item {
    /* border: 2px solid black; */
    /* margin: 10px; */
    text-align: left;
}


/* テキスト */
p {
    font-size: 1rem;
    overflow-wrap: normal;
    margin: 10px;
    text-align: left;
}



/* 文章 */

small {
    color: #ECC1C9;
}

/* 入力 */
.form_item input {
    background-color: rgb(228, 228, 228);
    width: 100%;
}

.form_item textarea {
    background-color: rgb(228, 228, 228);
    width: 100%;
}

/* 注意書き */
.consent_text {
    margin: 30px;
}

.privacypolicy p {
    font-size: 0.8rem;
    /* text-align: left; */
}

.privacypolicy a {

    text-decoration: underline;
    display: inline;
}

.agree p {
    /* border: 1px solid #000000; */
    text-align: center;

}


/* チェックボックス */
#privacy {
    appearance: none;
    height: 24px;
    width: 24px;
    margin: 4px;
    border: 1px solid #000000;
    border-radius: 4px;
    text-align: center;
}

#privacy:checked {
    border: 1px solid #000000;
    background-color: #15679e;
}

#privacy:checked::before {
    content: "";
    display: block;
    position: relative;
    left: 7.4px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#privacy:focus-visible {
    outline: 2px solid #15679e;
    outline-offset: 2px;
}

#submit_button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    /* クリック不可のカーソルを表示 */
    text-decoration: line-through
}

/* ボタン */
.confirmation {
    /* border: 2px solid #DBF500; */
    text-align: center;
    display: inline;

}

#submit_button {
    /* border: 2px solid #DBF500; */
    background: #DBF500;
    /* font-size: 1.125rem; */
    font-size: 18px;
    border-radius: 25px;
    text-align: center;
    width: 200px;
    height: 70px;
    margin: 20px auto;
    color: #fff;
}

#submit_button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    /* クリック不可のカーソルを表示 */
}

/* レスポンシブ */


/* tablet */
@media(width>=757px) {
    #submit_button {

        background: #538FCB;
        color: #fff;
    }
}

/* ---------- */
/* pc */
@media(width>=1201px) {

    /* 入力欄幅 */
    .content_form {

        margin: 0;
    }


}


/* フォントサイズのみ */
@media(width>=431px) {

    /* =================================
ここは各自のCSSファイルで設定（サンプル）
================================= */

    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    #submit_button {

        font-size: 2rem;
    }


}



/* ~1201px 1200px~757px 756px~ */
/*640px以下の場合のレイアウト調整用*/
@media screen and (max-width: 640px) {}

@media screen and (max-width: 400px) {}
