@charset "utf8";

/* タイトル */
.inner {
    /* border: 2px solid black; */
    text-align: center;
    margin: 10px;
}


/* メイン */
h4 {
    font-size: 1.125rem;
    font-family: "Noto Sans JP", sans-serif;
}

/* テキスト */
p {
    font-size: 1rem;
    overflow-wrap: normal;
    font-family: "Noto Sans JP", sans-serif;
}

section p {
    /* border: 2px solid red; */
    text-align: left;
    margin: 30px 0;
}

textarea {
    resize: none;
}

input,
textarea {
    padding: 5px;
}

.contact_form_btns_sbmit {
    cursor: pointer;
}

/* レスポンシブ */

/* フォントサイズのみ */
@media(width>=431px) {


    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }



}

/* -入力欄- */

.content_form {
    /* border: 2px solid red; */
    /* text-align: left; */
    margin: 20px 0;
}

.form_item {
    text-align: left;
    margin: 10px 0;
}

/* 文章 */
small {
    color: #ECC1C9;
}

/* 入力部 */
.form_item input {
    background-color: rgb(228, 228, 228);
    width: 100%;
    margin: 10px 0;
}


.form_item textarea {
    background-color: rgb(228, 228, 228);
    width: 100%;
    margin: 10px 0;
}





/* 注意書き */
.privacypolicy p {
    font-size: 1rem;
    text-align: left;
    margin: 30px 0;
}

.privacypolicy a {

    text-decoration: underline;
}

.agree label {
    font-size: 1.125rem;
}

.agree p {
    text-align: center;
}

/* チェックボックス */
#privacy {
    appearance: none;
    height: 24px;
    width: 24px;
    margin: 4px;
    border: 1px solid #000000;
    border-radius: 4px;
}

#privacy:checked {
    border: 1px solid #000000;
    background-color: #15679e;
}

#privacy:checked::before {
    content: "";
    display: block;
    position: relative;
    left: 3px;
    top: 0;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#privacy:focus-visible {
    outline: 2px solid #15679e;
    outline-offset: 2px;
}

#submit_button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    /* クリック不可のカーソルを表示 */
}

/* ボタン */
#submit_button {
    /* border: 2px solid #fff; */
    color: #fff;
    margin: 20px;
    background-color: #DBF500;
    border-radius: 25px;
    width: 55%;
    height: 10vh;
    font-size: 1.125rem;
}

/* レスポンシブ */

/* フォントサイズのみ */
@media(width>=431px) {


    #submit_button {

        font-size: 2rem;

    }

}

/* レスポンシブ */


/* tablet */
@media(width>=757px) {


    /* ボタン */
    #submit_button {
        border: 2px solid #fff;
        color: #fff;
        margin: 20px;
        background-color: #538FCB;
        border-radius: 25px;
        width: 50%;
        height: 10vh;
        /* margin: 20px auto; */
    }

    .agree label {
        font-size: 1.25rem;
    }
}

/* ---------- */
/* pc */
@media(width>=1201px) {

    /* 入力欄幅 */
    .content_form {

        margin: 0;
    }


}

/* 下層ページに追加 */
.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(width>=757px) {

    /* 背景を濃くする */
    .bubble_background {
        background-color: transparent;
    }

    /* ボーダーの色は下層ページよって可変（トップページを参照）、ボーダーの太さは8→10pxに。 */
    .container {
        border: 10px solid #eb97a8;
    }
}