@charset "UTF-8";

/* -----------------------
header
-------------------------- */
.logo {
    width: 100px;
    margin-top: 32px;
    margin-left: 32px;
}

/* -----------------------
タイトル
-------------------------- */
.flex {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

.under_line {
    font-size: 1.25rem;
    width: fit-content;
    position: relative;
    margin-top: 24px;
    margin-bottom: 50px;
}

.under_line::after {
    content: "";
    z-index: -1;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 5%;
    width: 105%;
    /*   display: inline-block; */
    border-bottom-color: #dbf500;
    border-bottom-style: dashed;
    border-bottom-width: 5px;
}

/* -----------------------
マイページについて
-------------------------- */
.mypage_container {
    background-color: #D9D9D9;
    width: 264px;
    height: 404px;
    margin-bottom: 33px;
}

.mypage_container h3 {
    font-size: 1.25rem;
    margin-top: 50px;
    margin-bottom: 38px;
}

.mypage_container p {
    font-size: 1rem;
    margin: 30px 10px;
}

/* -----------------------
背景(仮)
-------------------------- */
.bubble_background {
    width: 100%;
}

/* -----------------------
tabのcss
-------------------------- */

/*tabの形状*/
.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab li a {
    display: block;
    background: #ddd;
    margin: 0 2px;
    padding: 10px 40px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

/*liにactiveクラスがついた時の形状*/
.tab li.active a {
    background: #EB97A8;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.orange {
    background: #F5A200;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

/*エリアの表示非表示と形状*/
.area {
    display: none;
    /*はじめは非表示*/
    /* opacity: 0; */
    /*透過0*/
    /* background: #328ef0; */
    padding: 50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;
}

/*エリアの形*/
.area {
    padding: 50px 20px;
}

/* -----------------------
カードのcss
-------------------------- */

.card {
    max-width: 475px;
    cursor: pointer;
    margin: 0 auto;
}

.card div {
    max-width: 420px;
    margin: 7.5%;
    position: relative;
}

.card img {
    position: relative;
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    transition: 1s;
}

.card img:hover {
    transform: translate(-3.1%, 3.3%);
}

.card span {
    display: block;
    /* z-index: -1; */
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 3%;
    left: -3%;
    background-color: #eb97a8;
    transition: 1s;
}

.daidai span {
    background-color: #F5A200;
}

.card h3 {
    margin-top: 13%;
    border-radius: 6px;
    color: white;
    background-color: #eb97a8;
    text-align: center;
    padding: 8px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.daidai h3 {
    background-color: #F5A200;
}

/* -----------------------
お気に入り
-------------------------- */
.mypage_favorite {
    font-size: 1.25rem;
}

.mypage_nofavorite {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 141px;
    font-size: 1rem;
}

/* -----------------------
topボタン
-------------------------- */
.circle,
.line .circle {
    cursor: pointer;
    width: 50px;
    /* サイズを必要に応じて調整 */
    height: 50px;
    /* サイズを必要に応じて調整 */
    border-radius: 50%;
    border-style: solid;
    border-color: gold;
    /* border-width:要素の境界の幅を設定 */
    border-width: 3px;
    /* 円の色 */
    display: flex;
    position: relative;
}

.line {
    position: absolute;
    top: 45%;
    width: 30px;
    height: 5px;
    background-color: gold;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.circle .line:nth-child(1) {
    left: 32%;
    transform: rotate(57deg);
}

.circle .line:nth-child(2) {
    transform: rotate(-57deg);
    right: 32%;
}

.circle {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

/* -----------------------
menuボタン
-------------------------- */
.menu_btn {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* -----------------------
レスポンシブ
-------------------------- */
.tb_only {
    display: none;
}

.pc_only {
    display: none;
}

/* -----------------------
レスポンシブ tablet
-------------------------- */
@media(width>=757px) {
    .sp_only {
        display: none;
    }

    .tb_only {
        display: block;
    }

    .pc_only {
        display: none;
    }

    /* マイページについて */
    .mypage_container {
        width: 646px;
        height: 404px;
    }

    /* topに戻るボタン */
    .circle {
        /* bottom: ; */
        left: 50px;
    }

    /* menuボタン */
    .menu_btn {
        right: 51px;
    }

    /* タイトル */
    .under_line {
        z-index: 5;
    }

}

/* -----------------------
レスポンシブ pc
-------------------------- */
@media(width>=1201px) {
    .sp_only {
        display: none;
    }

    .tb_only {
        display: none;
    }

    .pc_only {
        display: block;
    }

    /* マイページについて */
    .mypage_container {
        width: 675px;
    }

    /* カードの位置 */
    .pc_flex {
        display: flex;
    }

    /* カードの大きさ */
    .card.daidai {
        margin: 20px;
    }

    .card.pink {
        margin: 20px;
    }

    /* topに戻るボタン */
    .circle {
        /* bottom: ; */
        left: 84px;
    }

    /* menuボタン */
    .menu_btn {
        display: none;
    }

}

/* -----------------------
レスポンシブ フォントサイズのみ
-------------------------- */
@media(width>=757px) {

    /* ここは各自のCSSファイルで設定（サンプル） */
    /* フォントサイズ */
    .under_line {
        font-size: 2.25rem;
    }

    .mypage_container h3 {
        font-size: 2.25rem;
    }

    .mypage_container p {
        font-size: 1.25rem;
    }

    .tab li {
        font-size: 1.25rem;
    }

    .mypage_favorite {
        font-size: 2.25rem;
    }

    .mypage_nofavorite {
        font-size: 1.25rem;
    }
}
