@charset "UTF-8";



/* -----------------------
マイページについて
-------------------------- */
.mypage_container {
    margin: 50px auto;
    width: 90%;
    background-color: #D9D9D9;
    padding: 50px;
}

.mypage_container h3 {
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
}

.mypage_container p {
    font-size: 1rem;
    margin-top: 15px;
}

/* お気に入り一覧 */
.mypage_list {
    font-size: 1.125rem;
    text-align: center;
    margin-top: 100px;
    text-decoration: underline solid #000;
}

/* -----------------------
tabのcss
-------------------------- */

/* 初期値 */
.contents {
    display: none;
}

/* activeクラスが付与されたら表示 */
.contents.active {
    display: block;
}




/* -----------------------
カード型
-------------------------- */
.contents p {
    text-align: center;
    margin: 50px;
}

/* -----------------------
レスポンシブ フォントサイズのみ
-------------------------- */
@media(width>=431px) {

    /* ここは各自のCSSファイルで設定（サンプル） */
    /* フォントサイズ */
    .mypage_container h3 {
        font-size: 2.25rem;
    }

    .mypage_container p {
        font-size: 1.25rem;
    }

    .mypage_list {
        font-size: 2.25rem;
    }

    .tag li {
        font-size: 1.5rem;
    }


}
