@charset "utf-8";

.navlist_item:nth-child(3) {
    color: #dbf500;
}

/* タイトル */

.lined-title {
    font-size: 1.125rem;
    margin-bottom: 10px;
}

.container>* {
    margin-bottom: 30px;
}

/* メディアクエリ */

@media (width>=757px) {
    .lined-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}

.img_box,
.shop_information {
    margin: 30px 0;
}

.lined-title::before,
.lined-title::after {
    border-bottom-color: #f5a200;
}

.img_box {
    position: relative;
}

.img_box img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

/* お気に入り登録 */

.favorite_btn i {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

.favorite_btn i:nth-child(1) {
    color: aliceblue;
}

/* いいねボタン */

.nice_btn {
    position: absolute;
    background-color: #d9d9d9;
    top: 8px;
    right: 65px;
    width: 55px;
    height: 55px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

.nice_btn i {
    font-size: 1.6rem;
}

.nice_btn div p {
    font-size: 1rem;
    text-align: center;
}

checkbox-item {
    background-color: white;
    text-align: center;
    position: relative;
}

.checkbox-item input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-item input[type="checkbox"]:checked+.favorite_btn {
    /*      border: 5px solid black; */
    background-color: rgba(235, 151, 168, 1);
}

.checkbox-item input[type="checkbox"]:checked+.favorite_btn i:nth-child(1) {
    color: red;
}

.checkbox-item .favorite_btn {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    width: 55px;
    height: 76px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 70%, 0% 100%);
    background-color: rgba(235, 151, 168, 0.5);
}

.hashtag_list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* 店舗情報 */

dt,
dd {
    padding: 3px;
}

dl {
    background-color: white;
    border-bottom: 2px dotted #f5a200;
    text-align: center;
}

dt {
    background-color: #f5a200;
    color: white;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

h5 {
    margin-top: 30px;
}

/* 戻るボタン */
.back_btn {
    display: none;
}

/* タブレット */
@media (width>=757px) {
    .back_btn {
        display: inline;
    }
}

/* 下層ページに追加 */
.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(width>=757px) {

    /* 背景を濃くする */
    .bubble_background {
        background-color: transparent;
    }

    /* ボーダーの色は下層ページよって可変（トップページを参照）、ボーダーの太さは8→10pxに。 */
    .container {
        border: 10px solid #6BDE4E;
    }
}