@charset "utf-8";

/* inner */

.inner {
    width: 80%;
    margin: 0 auto;
}

@media(width>=1201px) {
    .inner {
        margin: 0 auto;
        width: 100%;
    }



    .card {
        flex: 1 0 50%;
        padding: 10px;
    }
}

/* カード型背景 */

.card span {
    background-color: #F5A200;
}

.card h3 {
    background-color: #F5A200;
}

/* =========フォントサイズ========= */

h2 {
    font-size: 1.25rem;
}

dt>h3 {
    font-size: 1.13rem;
    color: white;
}

@media(width>=431px) {
    h2 {
        font-size: 2.5rem;
    }

    dt>h3 {
        font-size: 2.25rem;
    }

    .info_tag li {
        font-size: 1.5rem
    }

    ;
}

@media(width>=757px) {

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 2rem;
    }
}

/* タグ */

.info_tag {
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.info_tag li {
    font-size: 1.25rem;
    line-height: 40px;
    height: 40px;
    font-size: 1.125rem;
    text-align: center;
    background-color: #FDC75F;
    border-radius: 50px;
}

li>a {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.shopping_tag.active,
.gourmet_tag.active,
.play_tag.active,
.stay_tag.active {
    background-color: #F5A200;
    color: #fff;
}

@media(width>=757px) {
    .info_tag {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }

    .info_tag li {
        border-radius: 30px 30px 0 0;
        height: 80px;
        line-height: 80px;
        font-size: 1.5rem
    }

    li>a {
        border-radius: 30px 30px 0 0;
    }
}

/* アコーディオン */

.accordion-container {
    margin: 0 auto;
}

.accordion-list:not(:first-child) {
    margin-top: 10px;
}

.accordion-title {
    margin: 32px auto 0;
    height: 48px;
    background: #538FCB;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    text-align: center;
    line-height: 48px;
}

.accordion-title:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 25px;
    height: 2px;
    width: 15px;
    background: white;
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
}

.accordion-title:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 25px;
    height: 2px;
    width: 15px;
    background: white;
    transition: all .3s ease-in-out;
}

.accordion-title.open:before {
    transform: rotate(180deg);
    background: #DBF500;
}

.accordion-title.open:after {
    opacity: 0;
    background: #DBF500;
}

.accordion-title.open h3 {
    color: #DBF500;
}

.accordion-text {
    display: none;
    padding: 20px 40px;
}
