@charset "utf-8";

.navlist_item:nth-child(3) {
    color: #dbf500;
}

/* タイトル */

.lined-title {
    font-size: 1.125rem;
    margin-bottom: 10px;
}

.container>* {
    margin-bottom: 30px;
}

/* メディアクエリ */

@media (width>=757px) {
    .lined-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}

.img_box,
.shop_information {
    margin: 30px 0;
}

.lined-title::before,
.lined-title::after {
    border-bottom-color: #f5a200;
}

.img_box {
    position: relative;
}

.img_box img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

/* お気に入り登録 */
.favorite-button {
    position: absolute;
    top: 0;
    right: 15px;
}

/* 店舗情報 */

dt,
dd {
    padding: 8px;
}

.shop_information dd:not(:first-child) {
    padding: 8px 16px;
    text-align: left;
}

dl {
    background-color: white;
    border-bottom: 2px dotted #f5a200;
    text-align: center;
}

dt {
    background-color: #f5a200;
    color: white;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

h5 {
    margin-top: 30px;
}

.text {
    text-align: start;
}


/* 下層ページに追加 */
.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (width>=757px) {

    /* 背景を濃くする */
    .bubble_background {
        background-color: transparent;
    }

    /* ボーダーの色は下層ページよって可変（トップページを参照）、ボーダーの太さは8→10pxに。 */
    .container {
        border: 10px solid #6bde4e;
    }
}
