@charset "utf-8";

.navlist_item:nth-child(3) {
    color: #DBF500;
}


.details:nth-of-type(1) {
    margin-top: 64px;
}

/* =========フォントサイズ========= */

dt>h3 {
    font-size: 1.13rem;
    color: white;
}

@media(width>=431px) {


    dt>h3 {
        font-size: 2.25rem;
    }

}

@media(width>=757px) {
    p {
        font-size: 2rem;
    }
}

/* タグ */
li>a {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.tag li:nth-child(1) {
    letter-spacing: -0.2rem;
}

@media(width>=757px) {

    li>a {
        border-radius: 30px 30px 0 0;
    }
}

/* アコーディオン */
.details {
    margin-bottom: 32px;
}

.details-summary {
    position: relative;
    display: block;
    padding: 20px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #538FCB;
    margin-top: 32px;


    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .btn {
        position: absolute;
        top: 37%;
        right: 10%;
        width: 18px;
        height: 18px;
        transform-origin: center center;
        transition-duration: 0.2s;

        &:before,
        &:after {
            content: "";
            background-color: #000;
            border-radius: 10px;
            width: 18px;
            height: 4px;
            position: absolute;
            top: 7px;
            right: 0;
            transform-origin: center center;
        }

        &:before {
            width: 4px;
            height: 18px;
            top: 0;
            right: 7px;
            background-color: black;
        }
    }

    &.is-active {
        .acco_title {
            color: #DBF500;
        }

        .btn {
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);



            &:after {
                background-color: #DBF500;
            }

            &:before {
                content: none;
            }
        }
    }
}

.details-summary::-webkit-details-marker {
    display: none;
}

.acco_title span {
    font-size: 1rem;
}

/* 下層ページに追加 */
.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(width>=757px) {

    /* 背景を濃くする */
    .bubble_background {
        background-color: transparent;
    }

    /* ボーダーの色は下層ページよって可変（トップページを参照）、ボーダーの太さは8→10pxに。 */
    .container {
        border: 10px solid #6BDE4E;
    }
}