@charset "utf-8";

/* タイトル */
h3 {
    font-size: 2rem;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

h3::after {
    content: "";
    z-index: -1;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 15%;
    width: 105%;
    /*   display: inline-block; */
    border-bottom-color: #dbf500;
    border-bottom-style: dashed;
    border-bottom-width: 10px;
}
