@charset "utf-8";


.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(width>=757px) {

    .container {
        border: 10px solid #F5A200;
    }
}


.ttl {
    margin: 0 auto;
    width: fit-content;
}

.ttl p {
    text-align: right;
}

.card.onsen h3 {
    background-color: #EB97A8;
}

.card.onsen span {
    background-color: #ECC1C9;
}

.card.modelcourse h3 {
    background-color: #6BDE4E;
}

.card.modelcourse span {
    background-color: #A7E099;
}

h5 {
    letter-spacing: 1rem;
}

.mt32 {
    margin-top: 32px;
}

/* フォントサイズのみ */
@media(width>=431px) {
    p {
        font-size: 1.5rem;
    }
}

@media (width>=1201px) {
    .article_all {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 0px;
    }
}
