@charset "utf-8";

* {
    /* border: 1px solid red; */
}

/* タイトル */
h3 {
    font-size: 2rem;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

h3::after {
    content: "";
    z-index: -1;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 15%;
    width: 105%;
    /*   display: inline-block; */
    border-bottom-color: #dbf500;
    border-bottom-style: dashed;
    border-bottom-width: 10px;
}

/* タグ */
.info_tag {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.info_tag li {
    font-size: 1.25rem;
    line-height: 40px;
    width: 136px;
    height: 40px;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 50px;
}

/* クリック後にJavaScriptでactiveクラスが付与 */
.news_tag.active,
.gourmet_tag.active,
.play_tag.active,
.others_tag.active {
    background-color: #EB97A8;
    color: #fff;
}


/* 記事 */
.news_list {
    margin-top: 50px;
    display: none;
}

/* li要素をクリック後にJavaScriptでshowクラスが付与 */
.news.show,
.gourmet.show,
.play.show,
.others.show {
    display: block;
}

.news_card {
    /* width: 625px; */
    padding: 14px 0;
    border-bottom-color: #dbf500;
    border-bottom-style: dashed;
    border-bottom-width: 4px;
    /* border-right:10px ; */
}

.news_card a {
    display: flex;
}

.news_card img {
    aspect-ratio: 1/1;
    width: 140px;
    object-fit: cover;
    object-position: center center;
    border-radius: 16px;
    margin-right: 22px;
}

.news_card .date {
    color: transparent;
    -webkit-text-stroke: 1px #dbf500;
    margin-bottom: 4px;
}

.news_card .title {
    margin-bottom: 4px;
}

.news_card .hashtag_list {
    display: flex;
    gap: 5px;
}

.hashtag {
    font-size: 1rem;
    background-color: #d9d9d9;
    padding: 5px 10px;
    border-radius: 15px;
}

/* ページネーション */
.pagination {
    margin: 50px;
    text-align: center;
}
