@charset "utf-8";

* {
    /* border: 1px solid red; */
}

section p {
    width: 80%;
    color: #DBF500;
    text-align: center;
    height: 300px;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 50px auto;

}

section span {
    background-image: url(../images/notfound.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 200px;
    height: 200px;
}


@media (width>=757px) {
    section p {
        /* background-color: #538FCB; */
        color: #DBF500;
    }
}
