@charset "utf-8";


.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(width>=757px) {

    /* 背景を濃くする */
    .bubble_background {
        background-color: transparent;
    }

    .container {
        border: 10px solid #DBF500;
    }

}

/* 本文 */
.item {
    margin-top: 30px;
    margin-bottom: 30px;
}

h4.privacy_title {
    font-size: 1.125rem;
    margin-bottom: 15px;
    font-weight: 600;
    background: #d9d9d9;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
    padding: 14px 0;
}

p.privacy_text {
    font-size: 1rem;
    width: 80%;
    margin: 32px auto;
}

/* 区切り線 */
hr {
    border: 2px dashed #dbf500;
}

/* フォントサイズのみ */
@media(width>=431px) {

    h2 {
        letter-spacing: -4px;
    }

    h4.privacy_title {
        font-size: 1.5rem;
    }

    p.privacy_text {
        font-size: 1.25rem;
    }
}

@media(width>=757px) {
    h2 {
        letter-spacing: normal;
    }
}

.privacy {
    margin-bottom: 100px;
}