@charset "utf-8";


.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media(width>=757px) {

    /* 背景を濃くする */
    .bubble_background {
        background-color: transparent;
    }

    .container {
        border: 10px solid #eb97a8;
    }
}

/* タイトル */
.inner {
    margin: 10px;
}

/* メイン */

h4 {
    font-size: 1.125rem;
    font-family: "Noto Sans JP", sans-serif;
}

section p {
    margin: 30px auto;
}

.content_form {
    margin: 20px 0;

}

.form_item {
    margin: 10px 0;
}


.dummy {
    text-align: left;
    padding: 0px 4px;
    height: 30px;
    background-color: rgb(228, 228, 228);


}


/* テキスト */
p {
    font-size: 1rem;
    overflow-wrap: normal;
    margin: 10px 0;
    text-align: left;
    font-family: "Noto Sans JP", sans-serif;
}

/* レスポンシブ */

/* フォントサイズのみ */
@media(width>=431px) {

    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }



}

/* 注意書き */
.consent_text {
    margin: 30px;
}


/* ボタン */
.button {
    margin: 30px;
    font-size: 1.5rem;

}

.button li {
    border: 2px solid #f5a200;
    border-radius: 24px;
    text-align: center;
    width: 55%;
    /* padding: 6px 0; */
    margin: 20px auto;
    color: #fff;
}



#send_button {
    width: 100%;
    padding: 8px 0px;
    font-size: 1.5rem;
}


.send {
    border: 2px solid #FFF;
    background-color: #f5a200;
    margin: 20px;

}


.send:hover {
    color: #f5a200;
    /* background-color: rgba(255, 255, 255, 0.418); */
    background-color: #FFF;
    border-radius: 24px;
    transition: all 0.4s;

}



.wpcf7-spinner {
    /* 送信ボタンの下余白の原因消去 */
    display: none;
}

#back_button {
    width: 100%;
    /* color: #FFF; */
    border-radius: 24px;
}


/* リストの設定 */
.back {
    /* border: 2px solid red; */
    background-color: #FFF;
    /* font-size: 1.125rem; */
    margin: 20px;
}

/* 戻る */
.back_button {
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    color: #f5a200;

}

.back_button:hover {
    color: #fff;
    /* border: 2px solid #538FCB; */
    background-color: #f5a200;
    border-radius: 24px;
    transition: all 0.4s;

}


/* レスポンシブ */

/* フォントサイズのみ */
@media(width>=431px) {}

/* tablet */
@media(width>=757px) {}

/* ---------- */
/* pc */
@media(width>=1201px) {

    /* 入力欄幅 */
    .content_form {

        margin: 0;
    }


}
