@charset "UTF-8";

/* -----------------------
base
-------------------------- */
/* デベロッパーツール対策 */
.container {
    z-index: 1;
}

/* タイトルのライン長さ */
.under_line::before {
    width: 200%;
}

/* タイトルのmargin */
.under_line {
    margin-bottom: 16px;
}

/* 小見出しの下のライン */
.sauna_ttl {
    border-bottom: 1px solid black;
    width: 200px;
    padding-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 16px;
}

.sauna_ttl::before,
.sauna_ttl::after {
    /* display: inline-block; */
    /* margin: 0 3px 0 8px; */
    content: '';
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: -35%;
    transform: translate(-50%, -50%);
}

.sauna_ttl::before {
    left: 0%;
}

.sauna_ttl::after {
    right: -3%;
}

/* 小見出しとpタグの位置 */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box p {
    margin-bottom: 16px;
}

/* -----------------------
logo
-------------------------- */

.container {
    position: relative;
}

.logo {
    width: 100px;
    top: 32px;
    left: 32px;
}
