@charset "utf-8";
.navlist_item:nth-child(2) {
    color: #dbf500;
}
h2 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
    margin-bottom: 16px;
}

h2,
.img_box,
.hashtag_list,
section,
.other_img,
.museum_map.basic_information,
iframe {
    margin-bottom: 30px;
}
/* メディアクエリ */

@media (width>=757px) {
    h2 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

.img_box {
    position: relative;
}

.img_box img {
    object-fit: cover;
    aspect-ratio: 16/9;
}

.favorite_btn i {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

.favorite_btn i:nth-child(1) {
    color: aliceblue;
}

.nice_btn {
    position: absolute;
    background-color: #d9d9d9;
    top: 8px;
    right: 65px;
    width: 55px;
    height: 55px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

.nice_btn i {
    font-size: 1.6rem;
}

.nice_btn div p {
    font-size: 1rem;
    text-align: center;
}

checkbox-item {
    background-color: white;
    text-align: center;
    position: relative;
}

.checkbox-item input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-item input[type="checkbox"]:checked + .favorite_btn {
    /*      border: 5px solid black; */
    background-color: rgba(235, 151, 168, 1);
}

.checkbox-item input[type="checkbox"]:checked + .favorite_btn i:nth-child(1) {
    color: red;
}

.checkbox-item .favorite_btn {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    width: 55px;
    height: 76px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 70%, 0% 100%);
    background-color: rgba(235, 151, 168, 0.5);
}

.hashtag_list {
    margin: 16px 0 32px 0;
}

/* 写真スリック */

.slider img {
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
}

.thumbnail img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.museum_map {
    width: 100%;
}

.museum_map img {
    width: 100%;
}

/* 基本情報 */
.basic_information dt {
    padding: 3px;
    color: #fff;
}

.basic_information dl {
    background-color: white;
    border-bottom-style: dotted;
    border-bottom-color: #eb97a8;
    border-bottom-width: 2px;
    text-align: center;
}

.basic_information dt {
    background-color: #eb97a8;
}

.basic_information table th {
    text-align: center;
}

.basic_information table tr + tr {
    border-top-style: dotted;
    border-top-color: #eb97a8;
    border-top-width: 2px;
}

.basic_information table {
    width: 100%;
}

.basic_information table th {
    width: 30%;
}

.basic_information table td {
    width: 70%;
}

.test {
    text-align: left;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.icon_list {
    margin-bottom: 60px;
    text-align: center;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.icon_list li {
    aspect-ratio: 1/1;
    width: 80px;
    border: 5px solid #328ef0;
    background-color: aliceblue;
    border-radius: 20%;
    vertical-align: bottom;
}

.icon_list span {
    font-size: 3rem;
}

.card span {
    background-color: #eb97a8;
}

.card h3 {
    background-color: #eb97a8;
}

/* メディアクエリ */

/* 戻るボタン */
.back_btn {
    display: none;
}

/* タブレット */
@media (width>=757px) {
    .back_btn {
        display: inline;
    }
}

@media (width>=1201px) {
    .recommend_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
