@charset "utf-8";

.bubble_background {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (width>=757px) {
    /* 背景を濃くする */
    .bubble_background {
        background-color: transparent;
    }

    .container {
        border: 10px solid #eb97a8;
    }
}

.navlist_item:nth-child(2) {
    color: #dbf500;
}

h4 {
    font-size: 1.25rem;
    margin-top: 80px;
    margin-bottom: 16px;
}

p {
    font-size: 1.125rem;
    line-height: 2rem;
}

.container > * {
    margin-bottom: 30px;
}

/* メディアクエリ */

@media (width>=757px) {
    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }
}

.img_box {
    text-align: center;
    position: relative;
}

.img_box img {
    object-fit: cover;
    aspect-ratio: 16/9;
}

.hashtag_list {
    margin: 16px 0 32px 0;
}

.favorite-button {
    text-align: left;
}

/* 写真スリック */

.slider img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    padding: 5px;
}

.thumbnail img {
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 5px;
}

.museum_map {
    width: 100%;
}

.museum_map img {
    width: 100%;
}

/* 基本情報 */
.basic_information dt {
    font-size: 1.125rem;
    color: #fff;
}

.basic_information dl {
    background-color: white;
    border-bottom-style: dotted;
    border-bottom-color: #eb97a8;
    border-bottom-width: 2px;
    text-align: center;
}

.basic_information dt {
    background-color: #eb97a8;
    padding: 8px 0;
}

.basic_information dd:not(:first-child) {
    padding: 8px 16px;
    text-align: left;
}

.basic_information table th {
    text-align: center;
    padding: 8px 0;
}

.basic_information table tr + tr {
    border-top-style: dotted;
    border-top-color: #eb97a8;
    border-top-width: 2px;
}

.basic_information table {
    width: 100%;
}

.basic_information table th {
    width: 30%;
}

.basic_information table td {
    width: 70%;
    padding: 8px 0;
}

.basic_information table td {
    padding: 8px 0;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.icon_list {
    margin-bottom: 60px;
    text-align: center;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.icon_list li {
    aspect-ratio: 1/1;
    width: 92px;
    border: 5px solid #328ef0;
    background-color: aliceblue;
    border-radius: 20%;
    vertical-align: bottom;
}

.icon_list span {
    font-size: 3rem;
}

/* メディアクエリ */

/* 戻るボタン */
.back_btn {
    display: none;
}

/* タブレット */
@media (width>=757px) {
    .back_btn {
        display: inline;
    }

    .basic_information table th {
        font-size: 1.125rem;
    }

    .basic_information table td {
        font-size: 1.125rem;
    }

    .basic_information dd:not(:first-child) {
        font-size: 1.125rem;
    }
}

@media (width>=1201px) {
    .recommend_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.url {
    word-wrap: break-word;
    word-break: break-all;
}
