@charset "utf-8";

/* ==============共通============== */
.navlist_item:nth-child(2) {
    color: #DBF500;
}

.card span {
    background-color: #EB97A8;
}

.card h3 {
    background-color: #EB97A8;
}



/* ============================== */

/* =========フォントサイズ========= */

dt>h3 {
    font-size: 1.13rem;
    color: white;
}

.acco_title {
    font-size: 1.125rem;
}

@media(width>=431px) {

    dt>h3 {
        font-size: 2.25rem;
    }

    .acco_title {
        font-size: 2.25rem;
    }
}

/* ============================== */

/* アコーディオン */
.details {
    margin-bottom: 32px;
}

.details-summary {
    border: 2px solid #fff;
    position: relative;
    display: block;
    padding: 20px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #538FCB;
    margin-top: 32px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .btn {
        position: absolute;
        top: 37%;
        right: 10%;
        width: 18px;
        height: 18px;
        transform-origin: center center;
        transition-duration: 0.2s;

        &:before,
        &:after {
            content: "";
            background-color: #000;
            border-radius: 10px;
            width: 18px;
            height: 4px;
            position: absolute;
            top: 7px;
            right: 0;
            transform-origin: center center;
        }

        &:before {
            width: 4px;
            height: 18px;
            top: 0;
            right: 7px;
            background-color: black;
        }
    }

    &.is-active {
        .acco_title {
            color: #DBF500;
        }

        .btn {
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);



            &:after {
                background-color: #DBF500;
            }

            &:before {
                content: none;
            }
        }
    }
}

.details-summary::-webkit-details-marker {
    display: none;
}


@media(width>=757px) {

    .details-summary {

        border: none;


    }
}
