@charset "utf-8";

/* タイトル */



/* メイン */

h4 {
    font-size: 1.125rem;
    font-family: "Noto Sans JP", sans-serif;
}

p {
    font-size: 1rem;
    overflow-wrap: normal;
    margin: 30px auto;
    text-align: left;
    font-family: "Noto Sans JP", sans-serif;
    width: 80%;
}

.back_btn {
    margin-top: 50px;

}

/* フォントサイズのみ */
@media(width>=431px) {



    h4 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }

}
