@charset "utf-8";

/* フォント(Googleフォント) */
/* メイン */
.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

/* コラム日付 */
.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: "Zen Maru Gothic", serif;
}

a {
    display: block;
}

.btn:hover {
    transition: all 0.4s;
}

/*========== キービジュアル ==========*/
.kv {
    width: 100vw;
    height: 100vh;
    /* background-image: url(../images/kv.jpg); */
    /* background-size: cover;
    background-position: center center; */
    position: relative;
    margin-bottom: 72px;
}

.single-item {
    width: 100%;
    height: 100%;
}

.single-item li {
    width: 100%;
    height: 100%;
}

.slick-img img {
    height: 100vh;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.top_ttl {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top_ttl img {
    width: 100%;
}

.kv_bg {
    width: 100vw;
    aspect-ratio: 1 / 0.174479916666666666;
    background-image: url(../images/kv_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    position: absolute;
    bottom: -1px;
}

.kv_bg img {
    width: 100%;
}

.kv_bubble {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 93%;
    transform: translateY(-50%);
    overflow: hidden;
}

.kv_bubble_left {
    width: 180px;
    height: 180px;
    background-image: url(../images/bubble_left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    margin-left: -20px;
}

.kv_bubble_right {
    width: 180px;
    height: 180px;
    background-image: url(../images/bubble_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    margin-right: -25px;
}

/* ========== kvメディアクエリ ========== */

@media(width>=757px) {
    .top_ttl {
        width: 60%;
    }

    .kv_bubble {
        top: 90%;
    }

    .kv_bubble_left {
        width: 250px;
        height: 250px;
    }

    .kv_bubble_right {
        width: 250px;
        height: 250px;
    }

}

@media(width>=1201px) {
    .kv {
        margin-bottom: 100px;
    }

    .top_ttl {
        width: 45%;
    }

    .kv_bubble {
        top: 85%;
    }

    .kv_bubble_left {
        width: 400px;
        height: 400px;
        margin-left: -100px;
        /* transform: rotate(-20deg); */
    }

    .kv_bubble_right {
        width: 400px;
        height: 400px;
        margin-right: -110px;
    }
}


/*========== inner ==========*/
.pc_inner {
    max-width: 1200px;
    margin: 0 auto;
}

.inner {
    width: 90%;
    margin: 0 auto;
}

/*========== innerメディアクエリ ==========*/
@media(width>=757px) {
    .inner {
        width: 80%;
    }
}

@media(width>=1201px) {

    .inner {
        width: 66%;
        margin-left: 0;
    }
}

/*========== sectionの指定 ==========*/
.section-wrap {
    margin-bottom: 40px;
    text-align: center;
}

.section_btn {
    width: 80%;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 8px 0;
}

.section_btn i {
    font-size: 1.25rem;
}

.section_btn:hover,
.section_btn:hover i {
    color: #fff;
    transition: all 0.7s;
}

.section_btn i {
    margin-left: 4px;
}

/* 付箋 */
.sticky_note {
    width: 200px;
    height: 41px;
    background-image: url(../images/sticky_note.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    background-clip: border-box;
    transform: rotate(-7deg) translateY(50%);
    position: relative;
    margin-left: 24px;
}

.section_ttl {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -50%);
    letter-spacing: -1px;
}

/* コンテンツ */
.section_content {
    background-color: #fff;
    padding: 40px 0;
    border-radius: 50px;
}

.content_inner {
    width: 90%;
    margin: 0 auto;
}

/* ========== section共通メディアクエリ ========== */
@media(width>=757px) {

    .section_btn {
        width: 60%;
        height: auto;
        font-size: 1.5rem;
    }

    .section_btn i {
        font-size: 1.5rem;
    }

    .sticky_note {
        width: 300px;
        height: 62px;
        margin-left: 24px;
    }

    .section_ttl {
        font-size: 1.25rem;
    }

    .section_content {
        padding: 40px 0;
        border-radius: 100px;
    }

    .content_inner {
        width: 80%;
    }
}

@media(width>=1201px) {
    .section-wrap:last-child {
        margin-bottom: 0;
    }

    .sticky_note {
        margin-left: 72px;
    }
}

/*========== about ==========*/

.about .section_content {
    border: 8px solid #eb97a8;
}

.content_inner h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #DBF500;
    text-align: center;
    margin-bottom: 16px;
}

.content_inner span:nth-child(1) {
    font-size: 1rem;
}

.content_inner span:nth-child(2) {
    transform: rotate(18deg);
    display: inline-block;
}

.content_inner p {
    text-align: left;
}

/* 温泉に入ったおさるさん */
.about_img {
    width: 80%;
    padding-top: 32px;
    margin: 0 auto;
}

/* 一覧ボタン */
.about_btn {
    border: 3px solid #538FCB;
}

.about_btn,
.about_btn i {
    color: #538FCB;
}

.about_btn:hover {
    background-color: #538FCB;
}

/* ========== aboutメディアクエリ ========== */

@media(width>=757px) {
    .about .section_content {
        border: 10px solid #eb97a8;
    }

    .content_inner h3 {
        font-size: 2rem;
        margin-bottom: 24px;
    }

    .content_inner span:nth-child(1) {
        font-size: 1.5rem;
    }

    .about_txt {
        font-size: 1.25rem;
    }

    .about_img {
        width: 40%;
        padding-top: 24px;
    }
}

/*========== 新着＆コラムカード共通指定 ==========*/
.top_news_card {
    width: 100%;
    padding: 14px 0;
    border-bottom-color: #538FCB;
    border-bottom-style: dashed;
    border-bottom-width: 4px;
    display: flex;
    text-align: left;
}

.top_news_img {
    max-width: 23%;
    height: 100%;
    margin-right: 8px;
}

.top_news_img img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    border-radius: 16px;
}

.top_news_card .date {
    font-family: "Fugaz One";
    color: transparent;
    -webkit-text-stroke: 1px #538FCB;
    margin-bottom: 4px;
}

.hashtag_list {
    margin-top: 8px;
}

/*=========== 新着とコラム共通メディアクエリ ========== */

@media(width>=757px) {

    .top_news_card {
        font-size: 1.25rem;
    }

    .top_news_img {
        max-width: 16%;
        margin-right: 40px;
    }

    .top_news_card .date {
        font-size: 1.25rem;
    }

    .top_category,
    .tax {
        background-color: #d9d9d9;
        padding: 8px;
        margin-top: 8px;
        border-radius: 15px;
    }

}


/*========== news ==========*/
.news .section_content {
    border: 8px solid #F5A200;
}

/* ========== newsメディアクエリ ========== */
@media(width>=757px) {
    .news .section_content {
        border: 10px solid #F5A200;
    }
}

/*========== slider共通 ==========*/

.slider_content {
    width: 100%;
    cursor: pointer;
}

.slider_content a:hover>.slider_img img {
    transform: translate(-3%, 3%);
}


.slider_img {
    width: 55%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.slider_img img {
    position: relative;
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    transition: 1s;
}

.slider_img span {
    display: block;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 3%;
    left: -3%;
    transition: 1s;
    z-index: -1;
}

/* 施設名 */
.slider_content h3 {
    font-weight: bold;
    width: 80%;
    height: 56px;
    color: #fff;
    border-radius: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 4px;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sliderの矢印 */
.slide-arrow {
    margin: auto;
    position: absolute;
    bottom: -16px;
    width: 0;
    /* z-index: 10; */
}

.prev-arrow {
    width: 20px;
    height: 20px;
    background-image: url(../images/arrow_back.svg);
    background-size: contain;
    background-origin: border-box;
    background-clip: border-box;
    left: 10%;
}

.next-arrow {
    width: 20px;
    height: 20px;
    background-image: url(../images/arrow_forward.svg);
    background-size: contain;
    background-origin: border-box;
    background-clip: border-box;
    right: 10%;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 0;
}

/* sliderのドット */

.slick-dots {
    /* position: absolute; */
    transform: translateY(-8px);
}

.slick-dots li.slick-active button:before {
    color: #DBF500;
}

/* ========== sliderメディアクエリ========== */

@media(width>=757px) {
    .slider_img {
        width: 40%;
        margin-bottom: 32px;
    }

    .slider_content h3 {
        width: 60%;
        height: 56px;
        font-size: 1.25rem;
        padding: 0 4px;
    }

    .slide-arrow {
        bottom: -25px;
    }

    .prev-arrow {
        width: 40px;
        height: 40px;
        left: 20%;
    }

    .next-arrow {
        width: 40px;
        height: 40px;
        right: 20%;
    }
}

/*========== spa ==========*/
.spa .section_content {
    border: 8px solid #DBF500;
}

/* カード型 */
.spa .slider_img span {
    background-color: #eb97a8;
}

.spa .slider_content h3 {
    background-color: #eb97a8;
}

/* 温泉一覧ボタン */
.spa_btn {
    border: 3px solid #eb97a8;
}

.spa_btn,
.spa_btn i {
    color: #eb97a8;
}

.spa_btn:hover {
    background-color: #eb97a8;
}

/* ========== spaメディアクエリ ========== */
@media(width>=757px) {
    .spa .section_content {
        border: 10px solid #DBF500;
    }
}

/*========== 周辺施設共通 ==========*/
.facility .section_content {
    border: 8px solid #6BDE4E;
}

/* カード型 */
.facility .slider_img span {
    background-color: #F5A200;
}

.facility .slider_content h3 {
    background-color: #F5A200;
}

/* 周辺一覧ボタン */
.facility_btn {
    border: 3px solid #F5A200;
}

.facility_btn,
.facility_btn i {
    color: #F5A200;
}

.facility_btn:hover {
    background-color: #F5A200;
}

/* ========== 周辺メディアクエリ ========== */

@media(width>=757px) {
    .facility .section_content {
        border: 10px solid #6BDE4E;
    }
}

/*========== モデルコース ==========*/
.course .section_content {
    border: 8px solid #eb97a8;
}

/* カード型 */
.course .slider_img span {
    background-color: #6BDE4E;
}

.course .slider_content h3 {
    background-color: #6BDE4E;
}

/* モデルコース一覧ボタン */
.course_btn {
    border: 3px solid #6BDE4E;
    letter-spacing: -1px;
}

.course_btn,
.course_btn i {
    color: #6BDE4E;
}

.course_btn:hover {
    background-color: #6BDE4E;
}

/* ========== モデルコースメディアクエリ ========== */
@media(width>=757px) {
    .course .section_content {
        border: 10px solid #eb97a8;
    }
}

/*========== サ活 ==========*/
.sauna .section_content {
    border: 8px solid #F5A200;
}

/* カード型 */
.sauna_img img {
    border: 5px solid #F31E49;
    z-index: 2;
}

.sauna_content:hover .sauna_img img {
    transform: translate(-3%, 3%);
}

.sauna_img span {
    background-color: #F31E49;
    display: block;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 3%;
    left: -3%;
    transition: 1s;
    z-index: 1;
}

/* サ活とはボタン */
.sauna_btn {
    width: 80%;
    font-size: 1.25rem;
    font-weight: bold;
    color: #F31E49;
    border-radius: 24px;
    border: 3px solid #F31E49;
    padding: 8px 0;
    margin: 0 auto;
    margin-top: 32px;
}

.sauna_btn i {
    margin-left: 4px;
}

.sauna_content:hover .sauna_btn {
    color: #fff;
    background-color: #F31E49;
    transition: all 0.7s;
}

/* ========== サ活メディアクエリ ========== */
@media(width>=757px) {
    .sauna .section_content {
        border: 10px solid #F5A200;
    }

    .sauna_btn {
        width: 60%;
        height: auto;
        font-size: 1.5rem;
        padding: 8px 0;
        margin-top: 56px;
    }

    .sauna_btn i {
        font-size: 2rem;
    }
}

/*========== コラム ==========*/
.column .section_content {
    border: 8px solid #DBF500;
}

/* コラム一覧ボタン */
.column_btn {
    border: 3px solid #F5A200;
}

.column_btn,
.column_btn i {
    color: #F5A200;
}

.column_btn:hover {
    background-color: #F5A200;
}

/* ========== コラムメディアクエリ ========== */
.column .section_content {
    border: 10px solid #DBF500;
}



.logo {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.7s ease, transform 0.7s ease, visibility 0s 0.7s;
}

.logo.isactive {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: opacity 0.7s ease, transform 0.7s ease, visibility 0s 0s;
}

.top_button {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.7s ease, transform 0.7s ease, visibility 0s 0.7s;
}

.top_button.isactive {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: opacity 0.7s ease, transform 0.7s ease, visibility 0s 0s;
}

/* ======== ナビのtopを黄色にする ========== */
.navlist_item:nth-child(1) {
    color: #DBF500;
}